@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Zalando Sans";
}

h1 {
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1.1;
}

p {
  font-weight: 400;
  font-size: 0.85rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

nav p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  color: white;
}

nav .logo {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  padding: 0.5rem 1rem;
  overflow: hidden;
}

section {
  position: relative;
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

.intro,
.outro {
  padding: 2rem;
  align-content: center;
  background-color: #151515;
  color: white;
}

.intro h1,
.outro h1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.slider-images {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider-images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.slider-images img {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: center;
  will-change: transform, opacity;
}

.slider-title {
  position: absolute;
  top: 25%;
  left: 2rem;
  transform: translateY(-50%);
  width: 42%;
  color: white;
}
.slider-indicator {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.slider-indices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.slider-indices p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.index {
  position: relative;
  width: 1.25rem;
  display: flex;
  justify-content: flex-end;
  will-change: opacity;
}

.marker {
  position: relative;
  width: 0.75rem;
  height: 1px;
  background-color: white;
  transform-origin: right;
  will-change: transform;
  transform: scaleX(0);
}

.slider-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
}

.slider-progress {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 3px;
  height: 100%;
  background-color: white;
  transform-origin: top;
  will-change: transform;
}

.line {
  position: relative;
  display: block;
  will-change: transform;
}
